:root {
  --sky: #7ba4d2;
  --dark: #293241;
  --medium: #3d5a80;
  --light: #98c1d9;
  --light-deep: #e0fbfc;
}

main {
  font-family: Impact, sans-serif;
  /* border: 1px solid red; */
  font-size: 16px;
  background-color: var(--ming);
  border-radius: 5px;
  display: grid;
  place-items: center;
  background-color: var(--light-deep);
  color: var(--dark);
}
p {
  /* border: 1px solid red; */
  width: 60%;
  /* font-family: Impact, sans-serif; */
  text-align: center;
  font-size: 14px;
  z-index: 2;
  /* transform: rotate(-3deg); */
}
figcaption {
  color: var(--medium);
  font-size: small;
  text-align: left;
  font-weight: bold;
  margin-left: 20px;
}
h1 {
  /* border: 1px solid red; */
  font-size: 8px;
  margin-top: 4%;
  margin-bottom: 0;
  font-weight: 800;
  padding: 0;
}
main > h1 {
  color: var(--medium);
}

h3 {
  width: 100%;
  font-size: 45px;
  letter-spacing: 10px;
  border-bottom: var(--medium);
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 20px;
}

.fig-container {
  z-index: 0;
  margin-top: -45px;
  /* border: 1px solid red; */
  width: 90%;
  height: 380px;
  /* background-color: var(--sky); */
  display: grid;
  place-items: center;
  /* border-radius: 5px; */
  padding-bottom: 1%;
  border-bottom: 4px solid var(--medium);
}
img {
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  display: block;
  height: auto;
}
.timeline {
  /* border: 1px solid red; */
  width: 70%;
  display: grid;
  place-items: center;
  align-items: right;
  margin: auto;
  /* border-bottom: 4px solid var(--medium); */
}
strong {
  font-size: 72px;
}
hr {
  color: var(--medium);
  height: 2px;
  background-color: var(--medium);
  border: none;
}
li {
  font-size: 12px;
}
a {
  color: var(--dark);
  text-decoration: none;
}
a:hover {
  color: var(--medium);
}
.logo {
  width: 80px;
  display: grid;
  place-items: center;
}
